@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* p{
        @apply text-body;
    } */
}

@media (max-width: 768px) {
  h2 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: light;
    text-transform: uppercase;
    color: #481619;
  }
}
