@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
h1 {
  font-size: 36px;
  font-family: baskerville, serif;
  font-weight: regular;
  text-transform: uppercase;
  letter-spacing: 15%;
  color: #481619;
}
h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  text-transform: uppercase;
  color: #481619;
}

h3 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  color: #481619;
}

p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  letter-spacing: 5%;
  line-height: 20px;
  color: #481619;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    font-family: baskerville, serif;
    font-weight: regular;
    text-transform: uppercase;
    letter-spacing: 15%;
    color: #481619;
  }
  h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: light;
    text-transform: uppercase;
    color: #481619;
  }
  h3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: light;
    color: #481619;
  }
  p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: light;
    letter-spacing: 5%;
    line-height: 15px;
    color: #481619;
  }
}
