@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 36px;
    font-family: baskerville, serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #481619;
  }

  h2 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #481619;
  }

  h3 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #481619;
  }

  p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 20px;
    color: #481619;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
      letter-spacing: 0.15em;
    }
    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 16px;
      line-height: 15px;
    }
  }
}
