---
import "../styles/tailwind.css";
---

<main class="bg-linen-500 min-h-screen pt-[260px] pb-40">
  <div class="max-w-screen-xl mx-auto px-4 md:px-8">

    <!-- Chamber Sektion 1 -->
    <section class="mb-64">
    <h1 class="mb-8">Chamber</h1>

    <h2 class="tracking-[0.15em] mb-40">
    01
    </h2>

    <p class="mb-32 max-w-lg">
    A serene double room furnished with original antiques and refined details.
    Soft patterned walls echo the manor's history and create a quiet atmosphere.
    The en-suite bathroom adds comfort and ease to an interior shaped by
    craftsmanship, character and time.
    </p>

    <div class="grid gap-24 md:grid-cols-2">
    <div class="aspect-[5/7] bg-[#ddd]"></div>
    <div class="aspect-[4/5] bg-[#ddd]"></div>
  </div>
    </section>


    <!-- Chamber Sektion 2 -->


  </div>
</main>

