---
---
<button
  class="uppercase font-sans text-[16px] px-[30px] py-[5px] border-[#481619] border-[0.5px]
  text-[#481619] transition-colors duration-150
  hover:bg-[#481619] hover:text-[#FCFCFC]
  active:bg-[#2C060A] active:text-[#FCFCFC]"
>
  Submit
</button>
