---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";

const { title = "Göholm Manor", fullWidth = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/emblem.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <meta
    name="description"
    content="Göholm is a historic manor in southern Sweden offering exclusive B2B retreats, meetings and curated stays in a calm, authentic and nature-based setting."
    />

  </head>
  <body class="bg-linen-500 text-manor-red-500">
    <Header />

    <main
      class={`bg-linen-500 pt-80 md:pt-120 ${
        fullWidth ? "" : "px-32 md:px-64"
      }`}
    >
      <slot />
    </main>

    <footer class="bg-linen-500">
      <Footer />
    </footer>
  </body>
</html>


